<!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">xiaoxiao's Project</h3>
        <nav>
          <ul class="nav nav-justified">
            <!--can i have a js to make class="active" when mouse through-->
            <li class="active"><a href="/" >Home</a></li>
            <li><a href="/upload">DataUpload</a></li>
            <li><a href="/featureSelect">Feature Selection</a></li>
            <li><a href="/regression">Regression</a></li>
            <li><a href="/result">Result</a></li>
          </ul>

        </nav>
      </div>