{% extends 'base.html' %}

{% block title %}欢迎光临特征选择页面{% endblock %}

{% block content %}
<!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">xiaoxiao's Project</h3>
        <nav>
          <ul class="nav nav-justified">
            <!--can i have a js to make class="active" when mouse through-->
            <li><a href="/" >Home</a></li>
            <li><a href="/upload">DataUpload</a></li>
            <li class="active"><a href="/featureSelect">Feature Selection</a></li>
            <li><a href="/regression">Regression</a></li>
            <li><a href="/result">Result</a></li>
          </ul>

        </nav>
      </div>
     <!-- Jumbotron -->
      <div class="jumbotron">
        <div class="container">

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'feature_select_index' %}" method="post" >
            {% csrf_token %}
            <h2>请选择你需要的特征选择方法:</h2></br>
            <h4><label><input name="feature_selection_method" type="radio" value="PCA" />主成分分析(PCA)</label></h4>
            <h4><label><input name="feature_selection_method" type="radio" value="LDA" />LDA</label></h4>
            <input type="hidden" name="FilePath" value="{{ dataFilePath }}">
			<p><input class='btn btn-lg btn-success' type="submit" value="选择" /></p>
        </form>

        </div>

      </div>

{% endblock %}
